@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #111;
  color: #fff;
  font-family: "Google Sans", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.container .display {
  width: 20%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .first {
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

h1 {
  text-align: center;
  font-size: 14rem;
}

input {
  width: 100%;
  padding: 20px 30px;
  text-align: center;
  font-size: 1.8rem;
  margin: 0 20px;
  font-weight: 500;
  background: #202020;
  border: none;
  outline: none;
  color: white;
  border-radius: 12px;
}

button {
  width: 100%;
  padding: 20px 60px;
  font-size: 1.4rem;
  margin: 0 20px;
  font-weight: 500;
  background: #202020;
  border: none;
  outline: none;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: all 1 ease;
  text-transform: uppercase;
}

button:hover {
  background: #7c7c7c;
}

button:active {
  scale: 0.93;
}